<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flask Blog</title>
    <style type="text/css">
        #main-header{
            text-align:center;
            background-color:black;
            color:white;
        }
        #main-footer{
            text-align:center;
        }
    </style>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</head>
<body>
    <header id="main-header">
        <h1>Flask Blog</h1>
    </header>
    <main>
        {% include 'includes/_navbar.html'%}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </main>
    <footer id="main-footer">
        <p>Copyright &copy; 2021, Flask Blog</p>
    </footer>
</body>
</html>